@model CraftBook.Models.UserRecipe
@{ var id = $"r{Model.ID}";}
                                    
    <article class="recipe-preview" id="@id">
    <section>
        <a asp-action="Details" asp-route-id="@Model.ID">
            <div class="recipe_avatar" style="background-image: url(@(Model.Image ?? "../images/recipe_default.jpg"));"></div>
        </a>
    </section>
    <section>
        <header>
            <a asp-action="Details" asp-route-id="@Model.ID">
                <h3>@Model.Name</h3>
            </a>
            <img src="/images/bookmark-passive.svg" alt="Избранное" />
        </header>
        <section>
            <i>Ингредиенты:</i>
            @foreach (var iq in Model.Ingredients)
            {
                <i>@iq.Name</i>
            }
        </section>
        <section>
            @Html.DisplayFor(modelItem => Model.Description)
        </section>
    </section>
    <!--section>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Details" asp-route-id="@Model.ID">Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    </section-->


</article>
