@model CraftBook.Models.UserRecipe
<a asp-action="Details" asp-route-id="@Model.ID">
    <article class="recipe-preview">
        <section>
            <img src="@(Model.Image != null ? Model.Image : "/images/recipe_default.jpg")"/>
        </section>
        <section>
            <header>
                <h3>@Model.Name</h3>
            </header>
            <section>
                @Html.DisplayFor(modelItem => Model.CookingTime.Days) д.
                @Html.DisplayFor(modelItem => Model.CookingTime.Hours) ч.
                @Html.DisplayFor(modelItem => Model.CookingTime.Minutes) мин.
            </section>
            <section>
                @Html.DisplayFor(modelItem => Model.Description)
            </section>
            <section>
                @foreach (var iq in Model.Ingredients)
                {
                    <span>@iq.Name</span>
                }
            </section>
        </section>
        <!--section>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
        </section-->


    </article>
</a>