@model CraftBook.Models.Recipe

<article class="recipe-preview">
    <section>
        @Html.Raw("<img src=" +(Model.Image != null ? " \"data:image/jpeg;base64,"
                                                     + Convert.ToBase64String(Model.Image) : "/images/recipe_default.jpg") + " />")
    </section>
    <section>
        @Html.DisplayFor(modelItem => Model.Name)
        @Html.DisplayFor(modelItem => Model.Description)
        @Html.DisplayFor(modelItem => Model.Instruction)
    </section>
    <section>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    </section>


</article>