@model CraftBook.Models.UserRecipe

@{
    ViewData["Title"] = "Details";
}


<article class="recipe-view">
    <header>
        <h2>
            @Html.DisplayFor(model => model.Name)
        </h2>
        <section class="time">
            <img src="/images/recipe/time.svg" />
            @if (Model.CookingTime.Days > 0)
            {
                <span>@Html.DisplayFor(model => model.CookingTime.Days)</span>
                <span>д.</span>
            }
            @if (Model.CookingTime.Hours > 0)
            {
            <span>@Html.DisplayFor(model => model.CookingTime.Hours)</span>
            <span>ч.</span>
            }
            <span>@Html.DisplayFor(model => model.CookingTime.Minutes)</span>
            <span>мин.</span>
        </section>
        <div class="recipe-avatar" style="background-image: url(@(Model.Image ?? "../images/recipe_default.jpg"));"></div>
    </header>
    <section>
        <p style="text-align: center">
            @Html.DisplayFor(model => model.Description)
    </section>
    <section class="list-ingredients">
            @foreach (var iq in Model.Ingredients)
            {
                <div class="ingredient">
                    <span>@iq.Name</span>
                    <div></div>
                    <span>
                        @if (iq.Quantity == null)
                        {
                        <text>по вкусу</text>
                        } else
                        {
                            @iq.Quantity
                            @iq.UnitShortName
                        }
                    </span>
                </div>
            }
    </section>
    <section class="instruction">
        @Html.Raw(Model.Instruction)
    </section>

</article>
