@model CraftBook.Models.UserRecipe

@{
    ViewData["Title"] = "Details";
}
<h2>
    <p style="text-align: center"> @Html.DisplayFor(model => model.Name)
</h2>
<dd> <p style="text-align: center">@Html.DisplayFor(model => model.CookingTime.Days) дней @Html.DisplayFor(model => model.CookingTime.Hours) часов @Html.DisplayFor(model => model.CookingTime.Minutes) минут</dd>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Image)
        </dt>
        <dd>
            <p style="text-align: center">
                @Html.DisplayFor(model => model.Description)
        </dd>
        <dd><br></dd>
        <dd>
            <p style="color: forestgreen; text-align: center">
                @foreach (var iq in Model.Ingredients)
                {
                    @iq.Name
                    for (var i = 0; i < 30 - iq.Name.Length - iq.UnitShortName.Length; i++)
                    {
                        <h>_</h>
                    }
                    @iq.Quantity
                    @iq.UnitShortName
                    <br>
                }
        </dd>
        <dd>
            <br>
            @Html.DisplayFor(model => model.Instruction)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
