@model IEnumerable<CraftBook.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
<article class="recipe-preview">
    <section>
        @Html.DisplayFor(modelItem => item.Image)
    </section>
    <section>
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(modelItem => item.Description)
        @Html.DisplayFor(modelItem => item.Instruction)
    </section>
    <section>
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
    </section>


</article>
}